body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e7f7f8;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo img {
    height: 100px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

nav a:hover {
    color: #ff9900;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    width: 50px;
    height: 50px;
}

nav a.active {
    color: orange;
    font-weight: bold;
}

body {
    background-image: url("../src/Background.jpg");
    background-size: cover;
    background-position: center top;
}